.flip-image {
	transition: transform 0.8s;
}

body {
	background-color: aliceblue;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flip-card {
	border-radius: 1rem;

	background-color: transparent;
	width: 449px;
	height: 673px;
	min-width: 449px;
	min-height: 673px;
	perspective: 1000px;
}

.flip-card-inner {
	border-radius: 1rem;

	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 1.2s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.flip {
	border-radius: 1rem;

	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	border-radius: 1rem;

	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	border-radius: 1rem;

	background-color: #bbb;
	color: black;
}

.flip-card-back {
	border-radius: 1rem;

	background-color: #2980b9;
	color: white;
	transform: rotateY(180deg);
}

img {
	border-radius: 1rem;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 500px) {
	.flip-card {
		width: 80vw;
		height: calc(80vw / 0.66716196136);

		min-width: 80vw;
		min-height: calc(80vw / 0.66716196136);
		perspective: 1000px;
	}

	.photospage {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: white;

		width: 100vw;
		height: 100vh;
		line-height: 2rem;
	}
}

.photospage {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.textbox {
	font-size: 1.3rem;
	padding: 2rem;
	background-color: white;
	border-radius: 1rem;
	color: #2c4e34;
}

.textbox .back {
	color: #a9a599;
	margin-left: 1rem;
}

ol {
}

ol li {
	margin: 1rem;
}

.buttonholder {
	width: 100%;
	justify-content: center;
	display: flex;
}

.buttonholder a {
	font-size: 1.2rem;
	text-decoration: none;
}

.photosbutton {
	background-color: #4a6452;
	color: #d8e2dd;
	padding: 0.5rem 1.2rem;
	border-radius: 0.5rem;
}

code {
	color: #693d5e;
	padding: 0.2rem;
	border-width: 0.5px;
	border-style: solid;
	border-color: #b9acb6;
}

.paddedbutton {
	margin-top: 2rem;
}

.subtext {
	font-style: italic;
	color: #7b6eaa;
	margin-top: 1rem;
	font-size: 1.1rem;
}

.caption {
	font-size: 1rem;
	text-transform: capitalize;
	margin-top: 1rem;
	color: #ada79c;
	padding: 0.5rem 1rem;
}
